@import "vars";
@import "mixins";
@import "vendor/reset";

html {
  font-size: 62.5%;
}

body {
  background-color: #181818;
  font-size: 1.4rem;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: $white;
  line-height: 1.5;
}

.flex {
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.mb-30 {
  margin-bottom: 3rem;
}

// Blocks //
@import "blocks/page";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/burger";
@import "blocks/subnav";
@import "blocks/search";
@import "blocks/sidebar";
@import "blocks/main";
@import "blocks/stories";
@import "blocks/add-post";
@import "blocks/container";
@import "blocks/profile";
@import "blocks/social";
@import "blocks/btn";
@import "blocks/post";
@import "blocks/embed";
@import "blocks/pagination";
@import "blocks/related";
@import "blocks/comments";
@import "blocks/form";
@import "blocks/work";
@import "blocks/tags";
@import "blocks/search";
@import "blocks/cabinet";
@import "blocks/modal";
