.comments {
  margin-top: 0;

  &__item {
    > .comments {
      padding-left: 3rem;
    }
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  &__header {
    display: flex;
    margin-bottom: 1.5rem;
  }
  &__avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }

  &__author {
    flex-grow: 1;
    padding-left: 1.5rem;
    font-size: 1.2rem;
    line-height: 1.4;
  }

  &__name {
    color: $white;
    font-weight: 500;
  }
  &__pubdate {
    color: #757575;
  }

  &__text {
    margin-bottom: 1rem;
    line-height: 1.3;
    font-size: 1.2rem;
    color: $white;
  }

  &__reply {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    color: $blue;
    font-size: 1.2rem;
    line-height: 1.1;

    font-family: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
}
