.nav {
  &--mobile {
    display: none;
    margin-bottom: 5.5rem;
  }
  &--mobile .nav__link {
    text-transform: none;
  }
  // MEDIA //
  @include breakpoint($tablet-bp) {
    display: none;
    &--mobile {
      display: block;
    }
  }
}

.nav__list {
  display: flex;
  
  

  // MEDIA //

  @include breakpoint($tablet-bp) {
    flex-direction: column;
  }
}

.nav__item {
  position: relative;
  &:hover {
    > .subnav {
      display: block;
    }
  }
  &:hover {
    background-color: $blue;
  }

  // MEDIA //
  @include breakpoint($tablet-bp) {
    &:hover {
      background-color: transparent;
    }
    &:hover {
      > .subnav {
        padding-left: 4.7rem;
      }
    }
  }
}

.nav__link {
  display: block;

  padding: 1.35rem;
  line-height: 1.2;
  font-size: 11px;
  text-transform: uppercase;
  color: $white;
  transition: background-color 0.2s linear;
  &:hover {
    text-decoration: none;
  }
  &.has-subnav {
    position: relative;
    padding-right: 3.1rem;

    &:hover {
      text-decoration: none;
    }
    &::after {
      content: "";
      border-style: solid;
      position: absolute;
      border-width: 6px 5px 0 5px;
      border-color: $white transparent transparent transparent;
      top: 50%;
      right: 1.35rem;
      transform: translateY(-50%);
    }
  }

  // MEDIA //
  @include breakpoint($tablet-bp) {
    padding-left: 2rem;
    padding-right: 0;
    font-size: 1.6rem;
  }
}
