.pagination {
  justify-content: center;
  margin-top: 8rem;
  &__item {
    margin: 0 0.5rem;
  }
  &__link {
    display: block;
    width: 4rem;
    height: 4rem;
    background-color: #0d0d0d;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
    color: $white;
    line-height: 4rem;
    font-size: 1.4rem;
    box-shadow: 0 0 10px rgba($black, 0.15);
    transition: background-color 0.2s linear;
    &:hover {
      background-color: lighten(#0d0d0d, 2%);
    }
    &.active {
      background-color: $blue;
      box-shadow: 0 0 10px rgba($blue, 1);
    }
  }

  // MEDIA //
  @include breakpoint($tablet-bp) {
    margin-top: 5rem;
  }
}
