.search {
  max-width: 210px;
  width: 100%;
  background-color: $primary;
}

.search__input {
  display: block;
  width: 100%;
  padding: 12px 20px;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 12px;
  color: $white;

  &::placeholder {
    color: rgba($white, 0.4);
  }
}
