.social {
  display: flex;
  margin-top: 15px;
  gap: 15px;
  justify-content: center;


   // MEDIA //
    @include breakpoint($tablet-bp) {
      display: none;
    }

  &__link {
    img {
      width: 35px;
      height: 35px;
    }
  }

  &__link-share {
    width: 45px !important;
    height: 45px !important;
  }
}
